.pokemon {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pokemon-header {
  margin: 10px 0 10px 0;
}

.pokemon-sprite-container {
  display: flex;
  justify-content: center;
}

.pokemon-sprite-container {
  align-items: center;
  display: flex;
  border: 4px solid;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 10px;
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
}

.pokemon-sprite {
  max-height: 150px;
  max-width: 150px;
}

.pokemon-type-container {
  display: flex;
  justify-content: center;
}

.pokemon-type {
  border-radius: 5px;
  color: white;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.Grass {
  background-color: #78c850;
}

.Poison {
  background-color: #a040a0;
}

.Normal {
  background-color: #a8a878;
}

.Fire {
  background-color: #f08030;
}

.Water {
  background-color: #6890f0;
}

.Fighting {
  background-color: #c03028;
}

.Flying {
  background-color: #a890f0;
}

.Electric {
  background-color: #f8d030;
}

.Ground {
  background-color: #e0c068;
}

.Psychic {
  background-color: #f85888;
}

.Rock {
  background-color: #b8a038;
}

.Ice {
  background-color: #98d8d8;
}

.Bug {
  background-color: #a8b820;
}

.Dragon {
  background-color: #7038f8;
}

.Ghost {
  background-color: #705898;
}

.Dark {
  background-color: #705848;
}

.Steel {
  background-color: #b8b8d0;
}

.Fairy {
  background-color: #ee99ac;
}

  .Grass-border {
    border-color: #78c850;
  }

  .Poison-border {
    border-color: #a040a0;
  }

  .Normal-border {
    border-color: #a8a878;
  }

  .Fire-border {
    border-color: #f08030;
  }

  .Water-border {
    border-color: #6890f0;
  }

  .Fighting-border {
    border-color: #c03028;
  }

  .Flying-border {
    border-color: #a890f0;
  }

  .Electric-border {
    border-color: #f8d030;
  }

  .Ground-border {
    border-color: #e0c068;
  }

  .Psychic-border {
    border-color: #f85888;
  }

  .Rock-border {
    border-color: #b8a038;
  }

  .Ice-border {
    border-color: #98d8d8;
  }

  .Bug-border {
    border-color: #a8b820;
  }

  .Dragon-border {
    border-color: #7038f8;
  }

  .Ghost-border {
    border-color: #705898;
  }

  .Dark-border {
    border-color: #705848;
  }

  .Steel-border {
    border-color: #b8b8d0;
  }

  .Fairy-border {
    border-color: #ee99ac;
  }
