@import "./Ability.scss";
@import "./Header.scss";
@import "./PartiesPage.scss";
@import "./Pokemon.scss";
@import "./PokemonPage.scss";

body.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  margin: 0;
}
